@model Infrastructure.Template.User.ResetPasswordModel;

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div style="text-align: center;">
        <h4 style="display: block;">Hi @Model.FirstName @Model.LastName!</h4>
    </div>
    <div style="margin-top: 1rem;">
        <div>
            You have preblem with account password. <br>
            Please, use follow link to reset it.
        </div>
        <div>
            <a href="@Model.Url">APPROVE</a>
        </div>
    </div>
</body>
</html>